.navbar {
    /* position: sticky !important; */
    top: 0;
    background-color: transparent;
    transition: background-color .25s ease-in-out;
}

.navbar.active {
    background-color: rgb(119, 23, 49);
    transition: .2;
}

.navbar-toggler.collapsed {
    border: none;
}

.navbar a {
    margin: 0 8px;
    font-size: .85rem;
}

@media(min-width: 768px) {
    .cart-widget {
        position: absolute;
        right: 16px;
    }

}