* {
    box-sizing: border-box;
    /* margin: 0 auto; */
    font-family: 'Montserrat';
}

/* body {
    min-height: 100vh;
} */

.item-count {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    border: solid 1px #fff;
    border-radius: 8px;
    padding: 10px;
}

.item {
    /* color: #fff; */
    font-weight: 600;
    margin: 10px 20px;
}

.item-list-container {
    display: flex;
    justify-content: space-between;
}

.links {
    color: 'white';
    text-decoration: 'none'
}


@media (max-width: 575px) {

}
